<a href="https://colab.research.google.com/github/HarshitaPandey08/AP/blob/master/assignment%20-29-05-2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:
Create a function to find Factorial of a number using Recursion

In [0]:
def Fact(n):
  if n==0 or n==1:
    return 1
  else: 
    return n*Fact(n-1)
s=int(input("enter the value"))
Fact(s)

Question 2:
Create a function and display ‘n’ Fibonacci numbers using Recursion

In [30]:
def fib(n):
  a=0
  b=1
  s=0
  print(a,b,end=" ")
  for i in range(2,n):
    s=a+b
    a=b
    b=s
    print(b,end=" ")

n=int(input("enter the number"))
fib(n)

enter the number10
0 1 1 2 3 5 8 13 21 34

Question 3:
Print sum of list of elements without using sum() function

In [0]:
list1=[1,2,3,4,5]
s=0
for i in range(0,len(list1)):
  s=s+list1[i]
print("sum=",s)

sum= 15

Question 4:
print only even numbers from the list

In [0]:
list1=[1,2,3,4,5,6]
for i in range(0,len(list1)):
  if(list1[i]%2==0):
    print(list1[i])

2
4
6

In [0]:
#Question 5:
#Write a Python program to get the smallest number from a list and display index of smallest element of the list
list1=[2,4,5,1,-3,6]
s=list1[0]
t=0
for i in range(0,len(list1)):
  if(list1[i]<s):
    s=list1[i]
    t=i
print(s)
print(t)

-3
4

Question 6:
Write a Python function that checks whether a passed string is palindrome or not.

In [0]:
def pallindrome(v):
  if v==v[::-1]:
    print("pallindrome")
  else:
    print("not pallindrome")
v=input("enter")

pallindrome(v)

enterradar
pallindrome

#####Question 7:
#####Write a Python program to count the number of even and odd numbers from a #####series of numbers. 
#####Sample numbers : numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#####Expected Output :
#####Number of even numbers : 4
#####Number of odd numbers : 5

In [26]:
list1=[1,2,3,4,5,6,7,8,9]
o=0
e=0
for i in range(0,len(list1)):
  if(list1[i]%2==0):
    o+=1
  else:
    e+=1
print("number of odd numbers : ",o)
print("number of even numbers : ",e)

number of odd numbers :  4
number of even numbers :  5

#####Question 8:
#####Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
#####Note : Use 'continue' statement.
#####Expected Output : 0 1 2 4 5

In [24]:
for i in range(6):
  if(i==3 or i==6):
    continue
  else:
    print(i,end=" ")

0 1 2 4 5

Question 9:
Write a python function to check whether the given number is prime or not

In [0]:
def prime(n):
  f=0
  for i in range(2,n//2):
    if(n%i==0):
      f+=1
  if(f==0):
    print(n,"is a prime number")
  else:
    print(n,"is not a prime number")
n=int(input("enter the number"))
prime(n)

enter the number15
15 is not a prime number

Question 10:
Write a python function to check whether the given number is Adam number or not
Example: 
Input : 12
Output : Adam Number

Explanation: 12*12 = 144
Reverse of 12 is 21 → 21*21 =441
Reverse of 144 == 441

In [0]:
s=int(input("enter the number"))
if int(str(s**2)[::-1]) == int(str(s)[::-1])**2 :

  print("adams number")
else:
  print("no")

enter the number11
adams number