<a href="https://colab.research.google.com/github/HarshitaPandey08/AP/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
os.mkdir("python") #creating a folder 
for i in range(5):  #for creating 5 files
  file_name=" "   #creating file name
  f=open("c://python file name","a")  #creating a file with same name
for i in range(512):   #for adding contents
  f.write("character")

FileNotFoundError: ignored

In [0]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

#####Tuples
1. immutable
2. created using parenthesis 
3. all elements are seperated by commas
4. they are indexed and ordered
#we cannot make any changes in tuples we have to convert tuple into list and then make changes

In [0]:
tup1=(1,2,"pop",True)
print(type(tup1))
print(tup1[2])
print(tup1[-3])

<class 'tuple'>
pop
2

In [0]:
l=list(tup1)
l[2]=100
print(l)
tup1=tuple(l)
print(tup1)

[1, 2, 100, True]
(1, 2, 100, True)

#####built in methods
1. count()
2. index()

In [0]:
tup1=(1, 2, 100, True)
print(tup1.count(12))
print(tup1.index(100))

0
2

In [0]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [0]:
#packing
x=10,20,30  #whenevr we are storing multiple value for single varialble then type will be tuple
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [0]:
#creating a single variable tuple
y=(10,)
print(type(y))

<class 'tuple'>

In [0]:
#iterating tuple
for ele in y:
  print(ele,end="")

10

######sets
1. created using {}
2. does not allow duplicate value 
3. unindexed
4. not ordered

In [0]:
set1={1,2,3,752,5,666,1,2}
print(set1)

{1, 2, 3, 5, 752, 666}

In [0]:
for ele in set1:
  print(ele,end=" ")

1 2 3 5 752 666

####built in functions
1. len()
2. min()
3. max()
4. set()

In [0]:
help("set")

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [0]:
set1={1,2,6,89,8,10}
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 6, 8, 10, 89}
6
1
89

In [0]:
list1=[1,2,3,1,2]
list1=set(list1)
print(list1)

{1, 2, 3}

#####built in function of sets
1. add()    for adding elements into the set

#####methods for removing elements
1. pop
2. remove
3. clear
4. discards

In [0]:
set2=set()
print(type(set2))

<class 'set'>

In [0]:
set2.add(12)
set2.add(14)
set2.add(10)
set2.add(114)
set2.add(4)
set2.add(20)
set2.add(141)
set2.add(144)
print(set2)

{4, 10, 12, 141, 14, 144, 114, 20}

In [0]:
set2.pop()

print(set2)  #pop remoes element from end

{4, 10, 12, 141, 14, 144, 20}

In [0]:
set2.discard(20)
print(set2)

{4, 10, 12, 141, 14, 114}

In [0]:
set2.remove(141)
print(set2) 
#if a particular elemnt  is not available it is gives a key error

{4, 10, 12, 14, 114}

In [0]:
set2.clear()
print(set2)
#clears the entire set

set()

In [0]:
A={1,2,3,4,5}
B={3,4,5,6,7}
print(A.union(B))  #union
print(A.difference(B))
print(B.difference(A))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}
{1, 2}

AttributeError: ignored

In [0]:
c={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(c))
print(A.issubset(B))
print(B.issubset(c))
print(c.issuperset(A))
print(c.issuperset(B))

True
False
True
True
True

In [0]:
#sets having no ccommon elements are disjoint
print(A.isdisjoint(B))

False

In [0]:
x={1,2,3}
y={4,5,6}
print(x.isdisjoint(y))

True

In [0]:
print(A.symmetric_difference(B)) #returns the uncommon element 
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [0]:
A.union(B)  #a=a.union b
A.update(B)
print(A)
print(B)
A.intersection_update(B)
print(A)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [0]:
A.symmetric_difference_update(B)
print(A)

{1, 2, 6, 7}

######Dictionary 
1. dict name={key1:value1,key2:value2}
rules for key
1. key should be unique 
2. key should be immutable (example:strings,tuple)

In [0]:
#creating a dictionary
dict1={"name":"harshita","roll number":"1234","address":"hyd"}
print(dict1)

{'name': 'harshita', 'roll number': '1234', 'address': 'hyd'}

In [0]:
print(dict1["roll number"])

1234

In [0]:
#removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'harshita', 'roll number': '1234'}

In [0]:
#adding an entry to dict
dict1["course"]="python"
print(dict1)

{'name': 'harshita', 'roll number': '1234', 'course': 'python'}

In [0]:
print(dict1.keys())
print(dict1.values())
print(dict1.get("name"))

dict_keys(['name', 'roll number', 'course'])
dict_values(['harshita', '1234', 'python'])
harshita

In [0]:
#to add multiple elemnts into dict
dict2={1:1,2:2,3:3}
dict1.update(dict2)
print(dict1)

{'name': 'harshita', 'roll number': '1234', 'course': 'python', 1: 1, 2: 2, 3: 3}

In [0]:
#removing an entry
dict1.pop("name")
print(dict1)

{'roll number': '1234', 'course': 'python', 1: 1, 2: 2, 3: 3}

####built in methods

1. keys
2. values
3. get()
4. update()
5. pop
6. popitem

In [0]:
dict1.popitem()
print(dict1)

{'roll number': '1234', 'course': 'python', 1: 1, 2: 2}